@sensor-readings-in-row : 4;
.sensorReading {
	width: (@body-width - @grid-gutter-width) / @sensor-readings-in-row;
	min-height: @line-height-computed * 5;
	padding-left:  (@grid-gutter-width / 2);
	padding-right: (@grid-gutter-width / 2);
	.pull-left();
	.title{
		font-size: @font-size-large;
		font-weight: bold;
	}
	.value {
	}	
}
.sensorReading:first-child {
	padding-left: 0;
}
.sensorReading:nth-child(@{sensor-readings-in-row}n+@{sensor-readings-in-row}) {
	padding-right: 0;
}