#sensorGraph { 
	.rickshaw_legend {
		width: 100%;
		li {
			display: inline-block;
		}
	}
	.slider {
		margin: @padding-base-vertical 0;
	}
	.fetchResults {
		color: @gray-light;
		cursor: pointer;
	}
}