<phpunit bootstrap="PHPUnitBootstrap.php">
    <testsuites>
        <testsuite name="Controllers">
            <directory>./WateringSystem/Controller</directory>
        </testsuite>
        <testsuite name="Models">
            <directory>./WateringSystem/Model</directory>
        </testsuite>
    </testsuites>
</phpunit>